<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <display-name>fLAPjACk Sample Server</display-name>
    
    <servlet>
        <servlet-name>FlapjackServer</servlet-name>
        
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>de.dfki.resc28.flapjack.Server</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FlapjackServer</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>